# DEMO 1

Data Acquisition

In [96]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\metin\anaconda3\lib\site-packages (0.2.41)
Requirement already satisfied: pandas>=1.3.0 in c:\users\metin\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\metin\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\metin\anaconda3\lib\site-packages (from yfinance) (2.32.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\metin\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\metin\anaconda3\lib\site-packages (from yfinance) (5.2.1)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\metin\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\metin\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\metin\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\metin\anaconda3\lib\site-packages (from yfinance) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\metin\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\metin\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\metin\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\metin\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\metin\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\metin\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\metin\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\metin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\metin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\metin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\metin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.7.4)

In [98]:
# Import yfinance library
import yfinance as yf

# Define the start and end dates  
start_date = '2024-04-01'
end_date   = '2024-05-01'

# Define the list of tickers
tickers = ['AAPL', 'MSFT']

# Download historical prices for the list of tickers
historical_prices = yf.download(tickers, start=start_date, end=end_date)

historical_prices.head()

[*********************100%%**********************]  2 of 2 completed

Price        Adj Close                   Close                    High  \
Ticker            AAPL        MSFT        AAPL        MSFT        AAPL
Date
2024-04-01  169.603378  423.043060  170.029999  424.570007  171.250000
2024-04-02  168.416351  419.924347  168.839996  421.440002  169.339996
2024-04-03  169.224335  418.937897  169.649994  420.450012  170.679993
2024-04-04  168.396423  416.377136  168.820007  417.880005  171.919998
2024-04-05  169.154510  423.989624  169.580002  425.519989  170.389999

Price                          Low                    Open              \
Ticker            MSFT        AAPL        MSFT        AAPL        MSFT
Date
2024-04-01  427.890015  169.479996  422.220001  171.190002  423.950012
2024-04-02  422.380005  168.229996  417.839996  169.080002  420.109985
2024-04-03  423.260010  168.580002  419.089996  168.789993  419.730011
2024-04-04  428.670013  168.820007  417.570007  170.289993  424.989990
2024-04-05  426.510010  168.949997  418.320007  169.589996  420.010010

Price         Volume
Ticker          AAPL      MSFT
Date
2024-04-01  46240500  16316000
2024-04-02  49329500  17912000
2024-04-03  47691700  16502300
2024-04-04  53704400  19370900
2024-04-05  42055200  16544300

In [108]:
import pandas as pd
# Define the list of tickers
sp500_tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]['Symbol'].to_list()
# Filter out Class B shares that have a '.B' in the ticker name
sp500_tickers = [ticker for ticker in sp500_tickers if '.B' not in ticker]

In [110]:
# Define the start and end dates  
start_date = '2000-01-01'
end_date   = '2024-05-01'

# Download historical prices for the list of tickers
historical_prices = yf.download(sp500_tickers, start=start_date, end=end_date)

[*********************100%%**********************]  501 of 501 completed

1 Failed download:
['SW']: YFChartError("%ticker%: Data doesn't exist for startDate = 946702800, endDate = 1714536000")

In [112]:
historical_prices  = historical_prices.loc[:, historical_prices.columns.get_level_values(0) == 'Adj Close']
historical_prices.columns = historical_prices.columns.droplevel(0)   
historical_prices.head()

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,43.532219,NaN,0.844004,NaN,NaN,8.327244,1.277778,NaN,16.274673,28.325609,...,NaN,11.427913,NaN,6.907626,18.035818,NaN,4.657414,NaN,25.027779,NaN
2000-01-04,40.206841,NaN,0.772846,NaN,NaN,8.089323,1.270833,NaN,14.909397,26.892651,...,NaN,10.998596,NaN,7.066683,17.690365,NaN,4.563794,NaN,24.666668,NaN
2000-01-05,37.712811,NaN,0.784155,NaN,NaN,8.074450,1.388889,NaN,15.204172,27.285246,...,NaN,11.581234,NaN,7.339349,18.654764,NaN,4.587198,NaN,25.138889,NaN
2000-01-06,36.276855,NaN,0.716295,NaN,NaN,8.356984,1.375000,NaN,15.328289,26.539316,...,NaN,12.122991,NaN,7.271187,19.619169,NaN,4.548192,NaN,23.777779,NaN
2000-01-07,39.299923,NaN,0.750226,NaN,NaN,8.446203,1.451389,NaN,16.072985,27.285246,...,NaN,11.724339,NaN,7.271187,19.561590,NaN,4.446775,NaN,23.513889,NaN

In [114]:
MIN_REQUIRED_NUM_OBS_PER_TICKER = 100

# Count non-missing values for each ticker
ticker_counts = historical_prices.count()
ticker_counts

Ticker
A       6120
AAL     4679
AAPL    6120
ABBV    2851
ABNB     851
        ...
XYL     3156
YUM     6120
ZBH     5727
ZBRA    6120
ZTS     2830
Length: 501, dtype: int64

In [116]:
ticker_counts[ticker_counts<MIN_REQUIRED_NUM_OBS_PER_TICKER]

Ticker
GEV     22
SOLV    22
SW       0
dtype: int64

In [118]:
# Filter out tickers with fewer than n=MIN_REQUIRED_NUM_OBS_PER_TICKER=100 non-missing values
valid_tickers_mask = ticker_counts[ticker_counts >= MIN_REQUIRED_NUM_OBS_PER_TICKER].index
# Filter the DataFrame based on valid tickers
historical_prices = historical_prices[valid_tickers_mask]

In [124]:
import sys
import os
# Manually set the path relative to the py file's location that you want to import
func_lib_path = os.path.abspath(os.path.join(os.getcwd(), '../../'))# Add the path to sys.path

# Add the path to sys.path
sys.path.append(func_lib_path)

# Now you can import func_lib
import func_lib

In [126]:
historical_prices = func_lib.createHistPrices()

[*********************100%%**********************]  501 of 501 completed

1 Failed download:
['SW']: YFChartError("%ticker%: Data doesn't exist for startDate = 946702800, endDate = 1714536000")