In [21]:
# Import yfinance library
import yfinance as yf

# Define the start and end dates  
start_date = '2024-04-01'
end_date   = '2024-06-01'

# Define the list of tickers
tickers = ['AAPL', 'MSFT']

# Download historical prices for the list of tickers
historical_prices = yf.download(tickers, start=start_date, end=end_date)

historical_prices.head()

[*********************100%%**********************]  2 of 2 completed

Price        Adj Close                   Close                    High  \
Ticker            AAPL        MSFT        AAPL        MSFT        AAPL
Date
2024-04-01  169.799698  423.805573  170.029999  424.570007  171.250000
2024-04-02  168.611298  420.681213  168.839996  421.440002  169.339996
2024-04-03  169.420197  419.692993  169.649994  420.450012  170.679993
2024-04-04  168.591339  417.127625  168.820007  417.880005  171.919998
2024-04-05  169.350296  424.753845  169.580002  425.519989  170.389999

Price                          Low                    Open              \
Ticker            MSFT        AAPL        MSFT        AAPL        MSFT
Date
2024-04-01  427.890015  169.479996  422.220001  171.190002  423.950012
2024-04-02  422.380005  168.229996  417.839996  169.080002  420.109985
2024-04-03  423.260010  168.580002  419.089996  168.789993  419.730011
2024-04-04  428.670013  168.820007  417.570007  170.289993  424.989990
2024-04-05  426.510010  168.949997  418.320007  169.589996  420.010010

Price         Volume
Ticker          AAPL      MSFT
Date
2024-04-01  46240500  16316000
2024-04-02  49329500  17912000
2024-04-03  47691700  16502300
2024-04-04  53704400  19370900
2024-04-05  42055200  16544300

In [55]:
# Import yfinance library
import yfinance as yf

# Define the start and end dates  
start_date = '2024-04-01'
end_date   = '2024-06-01'

# Define the list of tickers
sp500_tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]['Symbol'].tolist()

# Filter out Class B shares that have a '.B' in the ticker name
sp500_tickers = [ticker for ticker in sp500_tickers if '.B' not in ticker]

# Download historical prices for the list of tickers
historical_prices = yf.download(sp500_tickers, start=start_date, end=end_date)

historical_prices.head()

[*********************100%%**********************]  501 of 501 completed

Price        Adj Close                                                         \
Ticker               A    AAL        AAPL        ABBV        ABNB         ABT
Date
2024-04-01  145.559998  15.41  169.799698  179.087494  163.369995  111.536835
2024-04-02  144.169998  14.40  168.611298  179.018143  160.110001  111.467178
2024-04-03  143.729996  14.16  169.420197  175.689240  159.339996  110.730835
2024-04-04  141.339996  13.83  168.591339  166.346481  158.839996  109.566612
2024-04-05  144.119995  13.76  169.350296  168.427063  161.770004  110.651230

Price                                                      ...  Volume  \
Ticker           ACGL         ACN        ADBE         ADI  ...     WTW
Date                                                       ...
2024-04-01  92.309998  337.861816  502.089996  196.619995  ...  318300
2024-04-02  91.489998  335.162231  499.209991  194.880005  ...  622400
2024-04-03  92.230003  330.998383  497.010010  195.360001  ...  449700
2024-04-04  91.089996  329.195343  487.109985  191.949997  ...  350800
2024-04-05  94.900002  331.715607  485.119995  194.759995  ...  439700

Price                                                                       \
Ticker           WY     WYNN      XEL       XOM      XYL      YUM      ZBH
Date
2024-04-01  2203000  2954200  4266600  13817000   716800  2227600   745000
2024-04-02  3464200  1716000  4561600  19919600  1144400  1987400  1057000
2024-04-03  3122100  1321500  4122600  16504300  1147300  1543800  1369900
2024-04-04  3143500  2412000  7021900  18467400  1129500  2640400  1032900
2024-04-05  2662500  1437600  4483900  21714100   753600  1735600   791700

Price
Ticker        ZBRA      ZTS
Date
2024-04-01  416900  1896500
2024-04-02  461500  2391500
2024-04-03  399300  2481200
2024-04-04  390700  4306100
2024-04-05  216700  3663900

[5 rows x 3006 columns]

In [57]:
historical_prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35 entries, 2024-04-01 to 2024-05-17
Columns: 3006 entries, ('Adj Close', 'A') to ('Volume', 'ZTS')
dtypes: float64(2505), int64(501)
memory usage: 822.2 KB

In [58]:
historical_prices.loc['2024-04-01':'2024-04-02'].head()

Price        Adj Close                                                         \
Ticker               A    AAL        AAPL        ABBV        ABNB         ABT
Date
2024-04-01  145.559998  15.41  169.799698  179.087494  163.369995  111.536835
2024-04-02  144.169998  14.40  168.611298  179.018143  160.110001  111.467178

Price                                                      ...  Volume  \
Ticker           ACGL         ACN        ADBE         ADI  ...     WTW
Date                                                       ...
2024-04-01  92.309998  337.861816  502.089996  196.619995  ...  318300
2024-04-02  91.489998  335.162231  499.209991  194.880005  ...  622400

Price                                                                       \
Ticker           WY     WYNN      XEL       XOM      XYL      YUM      ZBH
Date
2024-04-01  2203000  2954200  4266600  13817000   716800  2227600   745000
2024-04-02  3464200  1716000  4561600  19919600  1144400  1987400  1057000

Price
Ticker        ZBRA      ZTS
Date
2024-04-01  416900  1896500
2024-04-02  461500  2391500

[2 rows x 3006 columns]

In [59]:
historical_prices.loc['2024-05'].head()

Price        Adj Close                                                         \
Ticker               A    AAL        AAPL        ABBV        ABNB         ABT
Date
2024-05-01  138.690002  13.58  169.070679  161.720001  156.160004  106.290001
2024-05-02  137.520004  13.86  172.795624  160.809998  158.330002  105.919998
2024-05-03  139.449997  13.85  183.131607  163.789993  159.710007  105.900002
2024-05-06  140.610001  14.65  181.463882  162.729996  162.000000  105.639999
2024-05-07  141.270004  14.25  182.152924  162.550003  159.809998  106.169998

Price                                                      ...  Volume  \
Ticker           ACGL         ACN        ADBE         ADI  ...     WTW
Date                                                       ...
2024-05-01  95.800003  298.660004  469.390015  193.889999  ...  486200
2024-05-02  95.169998  300.339996  476.570007  196.490005  ...  444200
2024-05-03  94.410004  303.709991  486.179993  199.630005  ...  364000
2024-05-06  97.139999  306.059998  493.589996  203.320007  ...  292300
2024-05-07  98.209999  310.660004  492.269989  203.570007  ...  410900

Price                                                                       \
Ticker           WY     WYNN      XEL       XOM      XYL      YUM      ZBH
Date
2024-05-01  4225200  1846900  4589600  27777700  1773900  4639900  2710500
2024-05-02  4710500  1873200  3910500  25513600  2784800  2425400  2931700
2024-05-03  4582700  1323200  3285100  28023300  1418000  2452500  1847600
2024-05-06  1962600  1906700  4816700  31401300   953500  2295500  1293800
2024-05-07  2935200  2967600  4676300  30122000  1307600  1922600  1358500

Price
Ticker        ZBRA      ZTS
Date
2024-05-01  580100  3779100
2024-05-02  507800  5323100
2024-05-03  475200  3007000
2024-05-06  334100  3081300
2024-05-07  275000  3337500

[5 rows x 3006 columns]

In [61]:
# Filter and keep only columns where the first level of the MultiIndex is 'Adj Close'
historical_prices  = historical_prices.loc[:, historical_prices.columns.get_level_values(0) == 'Adj Close']
historical_prices.head()

Price        Adj Close                                                         \
Ticker               A    AAL        AAPL        ABBV        ABNB         ABT
Date
2024-04-01  145.559998  15.41  169.799698  179.087494  163.369995  111.536835
2024-04-02  144.169998  14.40  168.611298  179.018143  160.110001  111.467178
2024-04-03  143.729996  14.16  169.420197  175.689240  159.339996  110.730835
2024-04-04  141.339996  13.83  168.591339  166.346481  158.839996  109.566612
2024-04-05  144.119995  13.76  169.350296  168.427063  161.770004  110.651230

Price                                                      ...              \
Ticker           ACGL         ACN        ADBE         ADI  ...         WTW
Date                                                       ...
2024-04-01  92.309998  337.861816  502.089996  196.619995  ...  273.440002
2024-04-02  91.489998  335.162231  499.209991  194.880005  ...  267.809998
2024-04-03  92.230003  330.998383  497.010010  195.360001  ...  269.299988
2024-04-04  91.089996  329.195343  487.109985  191.949997  ...  266.320007
2024-04-05  94.900002  331.715607  485.119995  194.759995  ...  270.940002

Price                                                                 \
Ticker             WY        WYNN        XEL         XOM         XYL
Date
2024-04-01  35.560001  106.559998  53.279999  116.047409  128.639999
2024-04-02  35.430000  105.260002  54.080002  118.318962  128.119995
2024-04-03  34.939999  106.419998  54.090000  118.338806  128.860001
2024-04-04  34.639999  106.120003  53.770000  118.755417  127.250000
2024-04-05  34.590000  107.459999  53.529999  120.392128  128.270004

Price
Ticker             YUM         ZBH        ZBRA         ZTS
Date
2024-04-01  140.470001  129.750000  301.000000  166.545135
2024-04-02  140.710007  128.470001  296.500000  164.540833
2024-04-03  139.009995  130.009995  292.750000  162.506638
2024-04-04  136.279999  127.559998  292.959991  165.049393
2024-04-05  136.100006  127.330002  290.380005  165.388428

[5 rows x 501 columns]

In [62]:
# Remove the MultiIndex and keep only the second level
historical_prices.columns = historical_prices.columns.droplevel(0)   
historical_prices.head()

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-04-01,145.559998,15.41,169.799698,179.087494,163.369995,111.536835,92.309998,337.861816,502.089996,196.619995,...,273.440002,35.560001,106.559998,53.279999,116.047409,128.639999,140.470001,129.750000,301.000000,166.545135
2024-04-02,144.169998,14.40,168.611298,179.018143,160.110001,111.467178,91.489998,335.162231,499.209991,194.880005,...,267.809998,35.430000,105.260002,54.080002,118.318962,128.119995,140.710007,128.470001,296.500000,164.540833
2024-04-03,143.729996,14.16,169.420197,175.689240,159.339996,110.730835,92.230003,330.998383,497.010010,195.360001,...,269.299988,34.939999,106.419998,54.090000,118.338806,128.860001,139.009995,130.009995,292.750000,162.506638
2024-04-04,141.339996,13.83,168.591339,166.346481,158.839996,109.566612,91.089996,329.195343,487.109985,191.949997,...,266.320007,34.639999,106.120003,53.770000,118.755417,127.250000,136.279999,127.559998,292.959991,165.049393
2024-04-05,144.119995,13.76,169.350296,168.427063,161.770004,110.651230,94.900002,331.715607,485.119995,194.759995,...,270.940002,34.590000,107.459999,53.529999,120.392128,128.270004,136.100006,127.330002,290.380005,165.388428

In [64]:
MIN_REQUIRED_NUM_OBS_PER_TICKER = 100

# Count non-missing values for each ticker
ticker_counts = historical_prices.count()

# Filter out tickers with fewer than n=MIN_REQUIRED_NUM_OBS_PER_TICKER=100 non-missing values
valid_tickers = ticker_counts[ticker_counts >= MIN_REQUIRED_NUM_OBS_PER_TICKER].index

# Filter the DataFrame based on valid tickers
historical_prices = historical_prices[valid_tickers]

In [65]:
# Create a function called 'computingReturns' that takes close prices and a list of integers (momentums) as an input
def computingReturns(close_prices, list_of_momentums): 
    '''
    Takes as an input a dataframe of prices and a list of momentums 
    and returns a dataframe with returns over the momentum list and 1 day forward returns
    '''

    # Return the total returns DataFrame
    return total_returns